@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     
    <h1 class="display-4">Weather Highlights</h1>
    <img 
  src="https://wwmt.com/resources/media2/16x9/1055/986/0x4/90/f4db8db5-7fcf-4ac3-b7f8-d48a1115012c-CathyGrayVicksburg.jpg" 
  alt="Weather Image" 
  style="width: 400px; height: auto;" />
  <h1>Weather Looks Good!</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
